<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQBService"/>
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IQBService"/>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/QBServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQBService" contract="QBServer.IQBService" name="BasicHttpBinding_IQBService"/>
            <endpoint address="net.pipe://localhost/QBServer" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IQBService" contract="QBServer.IQBService" name="NetNamedPipeBinding_IQBService">
                <identity>
                    <userPrincipalName value="RANDR-LAP-01\Robert"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
