<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="RandREng.QBServer.QBService">
				<host>
					<baseAddresses>
						<add baseAddress="http://Randr-Lap-01:8000/QBServer"/>
						<add baseAddress="net.pipe://Randr-Lap-01/QBServer"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
